<!-- <div ng-controller="addSchoolsController">
  <label for="basic-school-name">Add a school</label>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">Eg. Bella Vista Elementary</span>
    <input type="text" class="form-control" ng-model="schoolName" name="school" />
    <input type="submit" class="form-control" id="submit" value="Submit" ng-submit="submit()" />
  </div>
  <pre>
    Favorite List: {{list}}
  </pre>
</div> -->

<form ng-submit="submit()" ng-controller="addSchoolsController">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">Eg. Bella Vista Elementary</span>
    <input class="form-control" type="text" ng-model="schoolName" name="text" />
    <input class="form-control" type="submit" id="submit" value="Submit" />
  </div>
  <pre>Added Schools: {{list}}</pre>
</form>



<!-- ui-sref="sup" -->

