<div class="container" ng-controller="addSchoolsController">

  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">Filter</span>
    <input type="text" class="form-control" placeholder="School" aria-describedby="sizing-addon1" ng-model="inputFilter">
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item active">
      Favorite Schools
    </a>
    <a href="#" class="list-group-item"
    ng-repeat="school in list | orderBy | filter: inputFilter">{{school}}</a>
  </div>

</div>